{{ define "base" }}
<!DOCTYPE html>
<html>
<head>
    <title>{{ template "pageTitle" .}}</title>
    <link rel="stylesheet" type="text/css" href="/assets/theme.css">
    <style>
    </style>
</head>
<body>
    <div id="container">
        <nav id="sidebar">
            <h2>{{ .SiteTitle }}</h2>
	    <div class="logoContainer">
		<img src="{{ .SiteLogoURL }}" width="100" height="100"/>
	    </div>
            <h3>Navigation</h3>
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
        <main id="content">
            {{template "content" .}}
        </main>
    </div>
    <footer>
	&copy; 2024 Built with <a href="https://github.com/joshburnsxyz/go-wiki">Wikara</a> All rights reserved.
    </footer>
</body>
</html>
{{ end }}
